
.nav{
  background-image: url('images/h_img.jpg');
  content: "";
  background-position: center;
  background-size: cover;
  margin: 0px;
  width: 100%;
  height: auto;
  position: relative;
}
.nav .delani_welcome{
  position: relative;
  
  text-align: center;
  color: white;
  margin: 240px;
  margin-left: 26%;
}